
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* shared style */
.secondary-bg{
    background-color: rgba(255, 248, 243, 1)
}

.text-primary{
    color: #FD6E0A;
}
.dark-1{
    color: rgba(24, 24, 24, 1);
}
.dark-2{
    color: rgba(71, 71, 71, 1);
}
.dark-3{
    color: rgba(117, 117, 117, 1);
}

.btn-primary{
    background-color: rgba(253, 110, 10, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}

.section-title{
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    font-size: 18px;    
}

.text-center{
    text-align: center;
}

/* Header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}



/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul{
    display: flex;
    align-items: center;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* --------------banner style -----------------*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;

}
.banner-contant{
    max-width: 580px;
    height: 380px;

}

.banner-welcome {
    font-size: 45px;
    font-weight: 600;
  
}
.banner-description{

    
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-image{
    width: 580px;
    height: 678px;
}

/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px; 
    margin-bottom: 130px;
}

/* About */

.about{
    border-radius: 10px;
    padding: 0px 150px;
    text-align: center;
   
}
.about-box-container h2{
    margin-top: 24px;
}
.about-box-container h2{
    margin-bottom: 42px;
}

.about-info{
    display: flex;
    justify-content: space-around;
}

.info-description{
    font-size: 20px;
    font-weight: bold;

}
.info-title{
    font-size: 20px;



}
.about-box{
    background-color: rgba(255, 255, 255, 1);
    padding: 3px;
    border: 1px solid black;
}

/* What I do section */
.skills-section{

    display: flex;
    gap: 24px;
    margin-top: 50px;

}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills-description {
    padding: 0px 24px 16px 26px;
    font-size: 18px;
    
}

.skills-title{
    font-size: 35px;
    font-weight: bold;
}

.skill-title{
    margin-top: 40px;
}

.skill img{
     padding:  12px 7px ; 
}

/* resume section  */
.resume{
    
}

.resume-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}
.experience-description{
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
}
.experience-subtitle{
    font-size: 20px;
    color: rgba(117, 117, 117, 1);
    font-weight: 600;
    margin-bottom: 20px;
   
}
.experience-title{
    font-size: 26px;
    font-weight: 600;
    color: rgba(71, 71, 71, 1);
    margin-bottom: 10px;
}
.resume-coloumn-titile{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;

}
.resume hr{
    margin-bottom: 30px 5px;
}
.resume-download-cv{
    margin-top: 50px;
}
.section-title{
    margin-bottom: 110px;
}

/* footer */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column{
    width: 50%;
}
footer input[type ="text"], footer input[type = "email"] , footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

/* Responsive */
.hide{
    display: none;
}

@media screen and (max-width: 576px) {
    .skills-section, footer, .about-info, nav, nav>ul{
        flex-direction: column;
    }
    nav>ul{
        gap: 20px;
    }

    .resume-container{
        flex-direction: column;
        padding: 20px;
    }

    .header{
        background-image: none;
    }
    .banner{
        margin: 20px;
        flex-direction: column;
    }

    .banner-contant{
        width: 100%;
        height: 100%;
    }


    .banner-image{
        margin-top:80px;
        width: 100%;
        height: 100%;

    }

    footer{
        padding:20px;
    }
    .footer-column{
        width: 100%;
    }
    footer input[type ="text"], footer input[type = "email"] , footer textarea{
        width: calc(100% - 40px);
    }
    .about{
        padding : 20px
    }
    
}

